<div class="container">
	<ul id="game-board">
		<li squareid="0" class="square right-border bottom-border"></li>
		<li squareid="1" class="square right-border bottom-border"></li>
		<li squareid="2" class="square bottom-border"></li>
		<li squareid="3" class="square clear right-border bottom-border"></li>
		<li squareid="4" class="square right-border bottom-border"></li>
		<li squareid="5" class="square bottom-border"></li>
		<li squareid="6" class="square clear right-border"></li>
		<li squareid="7" class="square right-border"></li>
		<li squareid="8" class="square"></li>
	</ul>
</div>
<div class="container">
	<section id="message"></section>
</div>
<div class="container">
	<button id="clear-board" class="btn btn-default">Clear Board</button>
</div>
<div class="container">
</div>
